<!-- wp:template-part {"slug":"header","theme":"aircraftaccs","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->

<div class="container404">
    <div class="content__body">
        <svg width="262" height="262" viewBox="0 0 262 262" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M136.062 74.5455L135.189 138.841H125.055L124.182 74.5455H136.062ZM130.122 164.699C127.967 164.699 126.118 163.927 124.575 162.384C123.032 160.841 122.26 158.991 122.26 156.837C122.26 154.682 123.032 152.833 124.575 151.289C126.118 149.746 127.967 148.974 130.122 148.974C132.277 148.974 134.126 149.746 135.669 151.289C137.213 152.833 137.984 154.682 137.984 156.837C137.984 158.263 137.62 159.574 136.892 160.768C136.194 161.962 135.247 162.923 134.053 163.651C132.888 164.349 131.578 164.699 130.122 164.699Z"
                fill="white" />
            <path
                d="M138.794 23.5L227.995 178C231.459 184 227.129 191.5 220.201 191.5H41.7994C34.8712 191.5 30.5411 184 34.0052 178L123.206 23.5C126.67 17.5 135.33 17.5 138.794 23.5Z"
                stroke="white" stroke-width="10" />
        </svg>
        <h1>404</h1>
        <h3>NOT FOUND</h3>
        <h6>The page your looking for does not exist, or is not longer available</h6>
        <!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
        <div class="wp-block-buttons">
            <!-- wp:button {"backgroundColor":"aag-color-color","textColor":"aag-color-black","style":{"elements":{"link":{"color":{"text":"var:preset|color|aag-color-black"}}}},"fontSize":"medium"} -->
            <div class="wp-block-button has-custom-font-size has-medium-font-size"><a
                    class="wp-block-button__link has-aag-color-black-color has-aag-color-color-background-color has-text-color has-background has-link-color wp-element-button"
                    href="http://aircraft-accessories.local/home/"><strong>BACK TO HOMEPAGE</strong></a></div>
            <!-- /wp:button -->
        </div>
        <!-- /wp:buttons -->
    </div>
</div>
<!-- /wp:group -->



<!-- wp:template-part {"slug":"footer","theme":"aircraftaccs"} /-->