<!-- wp:template-part {"slug":"header","theme":"aircraftaccs","tagName":"header","area":"uncategorized"} /-->

<!-- wp:group {"metadata":{"name":"Post Banner"},"className":"post__banner","layout":{"type":"constrained"}} -->
<div class="wp-block-group post__banner"><!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:columns -->
        <div class="wp-block-columns"><!-- wp:column -->
            <div class="wp-block-column"></div>
            <!-- /wp:column -->
        </div>
        <!-- /wp:columns -->
    </div>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}},"className":"post__container","layout":{"type":"default"}} -->
<main class="wp-block-group post__container"
    style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--70);padding-bottom:var(--wp--preset--spacing--70)">
    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:columns {"style":{"spacing":{"blockGap":{"left":"var:preset|spacing|50"}}}} -->
        <div class="wp-block-columns">
            <!-- wp:column {"width":"75%","style":{"spacing":{"blockGap":"var:preset|spacing|50"}}} -->
            <div class="wp-block-column" style="flex-basis:75%">
                <!-- wp:post-title {"style":{"typography":{"textTransform":"none"}}} /-->

                <!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|60"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                <div class="wp-block-group"><!-- wp:post-author {"className":"post__author"} /-->

                    <!-- wp:post-date {"className":"post__date"} /-->
                </div>
                <!-- /wp:group -->

                <!-- wp:post-featured-image /-->

                <!-- wp:post-content {"className":"post__content"} /-->
            </div>
            <!-- /wp:column -->

            <!-- wp:column -->
            <div class="wp-block-column">
                <!-- wp:group {"metadata":{"name":"table Of content"},"className":"single__index","layout":{"type":"default"}} -->
                <div class="wp-block-group single__index">
                    <!-- wp:heading {"style":{"typography":{"fontSize":"20px"}}} -->
                    <h2 class="wp-block-heading" style="font-size:20px"><strong>Table Of Content</strong></h2>
                    <!-- /wp:heading -->
                </div>
                <!-- /wp:group -->
            </div>
            <!-- /wp:column -->
        </div>
        <!-- /wp:columns -->
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"aircraftaccs","area":"uncategorized"} /-->